*~
__pycache__/**
__pycache__
**/__pycache__
*.egg-info
build
build/**
dist
dist/**
./*.spec
notes
notes/**
**/.DS_Store
.DS_Store
binary_releases
binary_releases/**
tmp
tmp/**
**/Thumbs.db
**/Thumbs.db*encryptable
gui/damage_gui.spec
gui/Damage.spec
new_algorithm.py